@page
@model Front.Pages.Books.AddModel


<form method="post" class="form-group" enctype="multipart/form-data"> 
    <label asp-for="@Model.book.Name"></label>
    <input class="form-control" type="text" asp-for="@Model.book.Name" />

    <label asp-for="@Model.book.Description"></label>
    <input class="form-control" type="text" asp-for="@Model.book.Description" />

    <label asp-for="@Model.book.Price"></label>
    <input class="form-control" type="text" asp-for="@Model.book.Price" />

    <label asp-for="@Model.book.Author"></label>
    <input class="form-control" type="text" asp-for="@Model.book.Author" />

  
    <input class="form-control" type="file" asp-for="@Model.Photo" />


    <button class="btn btn-light" type="submit">Add</button>

</form>