@page "{oldName?}"
@model Front.Pages.Books.EditModel




<form method="post" class="form-group border border-1 p-2 rounded-2" enctype="multipart/form-data">

    @{
        var oldName = Model.book.Name;
    }
    <input type="hidden" asp-for="@Model.book.PhotoPath" />


    <label asp-for="@Model.book.Name"></label>
    <input class="form-control mb-3" asp-for="@Model.book.Name" type="text" />

    <label asp-for="@Model.book.Author"></label>
    <input class="form-control mb-3" asp-for="@Model.book.Author" type="text" />

    <label asp-for="@Model.book.Description"></label>
    <input class="form-control mb-3" asp-for="@Model.book.Description" type="text" />

    <label asp-for="@Model.book.Price"></label>
    <input class="form-control mb-3" asp-for="@Model.book.Price" type="text" />

    <input class="mb-3" type="file" asp-for="Photo" />
    <div class="text-center">
        <input class="btn btn-lg btn-info" type="submit" asp-route-oldName="@oldName" value="Submit" />
    </div>
</form>
